extends layout

block content
  div(class="container")
    h1 Send mail
    form(action="/sendEmail",method="post",data-ajax="false")
      label Recipient:
      label 
        b #{to}
      br
      input(type="hidden",name="to",value="#{to}")
      label Message:
      textarea(name="message",rows="10")
      br
      input(type="submit",value="Send")
      br
    a(href="/contacts") Back to contacts
