extends layout

block content
  div(class="container")
    h1= (_id?"Edit contact":"Add new contact")
    form(action="/saveContact",method="post",data-ajax="false",enctype="multipart/form-data")
      input(type="hidden",name="id",value=(_id?_id:""))
      label Name:
      input(type="text",name="name",value=(name?name:""))
      br
      label Address:
      input(type="text",name="address",value=(address?address:""))
      br
      label Email:
      input(type="text",name="email",value=(email?email:""))
      br
      label Number:
      input(type="number",name="phonenumber",value=(phone?phone:""))
      label Birthday:
      input(type="date",name="birthday",value=(birthday?birthday:""))
      br
      if !_id
        input(type="file",name="picture",accept="image/*")
      label General information:
      textarea(name="general",rows="3")= (general?general:"")
      br
      input(type="submit",value="Save")
      br
