body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.container {
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  background: #eee;
  text-align: center;
}
#main {
  color: #f00;
  text-align: center;
}
#birthday {
  color: #008000;
}
